@ngx-refactora:registry=http://refactora.com:3113/npm/refactora-npm/
//refactora.com:3113/npm/refactora-npm/:_password="p2ZVH4rDx53V3V38"
//refactora.com:3113/npm/refactora-npm/:username=refactora
//refactora.com:3113/npm/refactora-npm/:email=info@refactora.com
//refactora.com:3113/npm/refactora-npm/:always-auth=true